@import "../../assets/css/index.css";

.button {
  background-color: var(--color-blue-1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: var(--color-white);
  padding: 10px 14px;
  transition: 0.1s;
}

.button:hover {
  background-color: var(--color-blue-2);
}

.button:disabled {
  background-color: var(--color-gray-2);
  cursor: not-allowed;
}
