@import "../../../assets/css/settings/colors.css";
@import "../../../assets/css/tools/fonts.css";

.container {
  height: 100%;
  padding: 20px;
}

.title {
  color: var(--color-gray-1);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;
}

.input {
  margin-bottom: 26px;
}
